@media only screen and (max-width: 1200px) {
    .mid-content{
       width: 100%;
       padding-left: 20px;
       padding-right: 20px;
    }

    .header-center {
        width: 50%;
    }

    .header-right button{
        width: 130px;
        margin-left: -10px;
    }
    
}